.contactPageFormWrapper {
    width: 100%;
    margin-bottom: 48px;
}

.contactPageForm {
    display: flex;
    flex-direction: column;
}

.contactPageForm input, .contactPageForm textarea {
    padding: 16px 32px;
    border: 1px solid #c8c8c8;
    font-family: inherit;
    font-size: 16px;
    margin-bottom: 18px;
    box-sizing: border-box;
    color: #c8c8c8;
}

.contactPageForm input::placeholder, .contactPageForm textarea::placeholder {
    color: #c8c8c8;
}

.contactPageForm input:focus, .contactPageForm textarea:focus {
    border: 1px solid #d87b4d;
    outline: none;
}

.contactPageForm input {
    width: 60%;
}

.contactPageForm textarea {
    resize: vertical;
    height: 160px;
    line-height: 32px;
}

.contactPageForm button {
    padding: 16px 48px;
    background-color: #1d1f20;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: inherit;
    font-size: 14px;
    align-self: flex-start;
    cursor: pointer;
    transition: all .25s ease;
}

.contactPageForm button:hover {
    background-color: var(--gray-clr);
    border: 1px solid var(--gray-clr);
}