.newsLetter {
    text-align: center;
    border-top: 6px solid #d87b4d;
    box-shadow: 0px 4px 16px #e8e8e8;
    padding: 24px;
}

.newsLetterLogo {
    font-size: var(--fs-800);
}

.newsLetterTitle {
    font-size: var(--fs-400);
    margin: 12px 0;
}

.newsLetterText {
    font-size: var(--fs-200);
    line-height: var(--fs-400);
    margin-bottom: 24px;
}

.newsLetterInputWrapper {
    display: flex;
    gap: 8px;
    align-items: center;
    border: 1px solid lightgray;
    padding: 4px 16px;
    margin-bottom: 8px;
}

.newsLetterInputIcon {
    font-size: var(--fs-300);
    color: var(--gray-clr);
}

.newsLetterInputWrapper > input {
    box-sizing: border-box;
    width: 100%;
    height: 32px;
    border: none;
    outline: none;
    color: gray;
    font-size: var(--fs-200);
}

.newsLetterInputWrapper > input::placeholder {
    color: lightgray;
} 

.newsLetter button {
    width: 100%;
    background-color: #d87b4d;
    color: #e8e8e8;
    text-transform: uppercase;
    border: none;
    padding: 14px;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: var(--fs-200);
    cursor: pointer;
}