.homeContainer {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  gap: 48px;
  padding: 0 16px;
}

.homeBlogs .blogItem {
  display: flex;
  gap: 32px;
  margin-bottom: 64px;
}

.homeBlogs .blogDetails {
  max-width: 440px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.homeBlogs .blogImage {
  width: 320px;
  height: 220px;
}

.homeBlogs .blogTitle {
  margin: 16px 0 22px 0;
}

@media screen and (max-width: 768px) {
  .homeContainer {
    flex-direction: column;
    margin: 32px 0;
  }

  .homeBlogs .blogItem:last-child{
    margin-bottom: 0;
  }

  .homeContainer .blogItem {
    flex-direction: column;
  }

  .homeContainer .blogImage {
    width: unset;
  }

  .homeContainer .blogDetails {
    max-width: unset;
  }
}
