.addBlogPage {
  max-width: 1400px;
  width: 100%;
  margin: 16px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addBlogPageContainer {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  padding: 32px;
}
