footer {
    background-color: #1d1f20;
    color: gray;
    display: flex;
    justify-content: center;
    gap: 20px;
    height: 240px;
    position: relative;
    overflow: hidden;
}

.footerContent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    margin-top: 80px;
    z-index: 100;
}

.footerContentItem {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--fs-100);
    letter-spacing: 1px;
    text-transform: uppercase;
    height: fit-content;
    cursor: pointer;
}

.footerContentItem:hover {
    color: var(--main-clr);
}

.footerContentItemLogo {
    margin-right: 8px;
    font-size: var(--fs-500);
}

.footerLogo {
    position: absolute;
    bottom: -24%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 112px;
    font-family: Sacramento;
    color: rgb(48, 48, 48);
    letter-spacing: 4px;
}

@media screen and (max-width: 768px) {
    .footerContent {
        grid-template-columns: repeat(2, 1fr);
    }
}