.homeBannerSlider {
  max-width: 1300px;
  width: 100%;
  position: absolute;
  bottom: -340px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
}

.homeBannerSliderItems {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  gap: 60px;
  overflow: hidden;
}

.homeBannerSliderItems::-webkit-scrollbar {
  display: none;
}

.homeBannerSliderItem {
  border: 8px solid white;
  background: white;
  cursor: pointer;
  text-align: center;
  min-width: 360px;
}

.homeBannerSliderItemImage {
  overflow: hidden;
  height: 280px;
}

.homeBannerSliderItemImage:hover > img {
  scale: 1.1;
}

.homeBannerSliderItemImage > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: scale 0.5s ease;
}

.homeBannerSliderButton {
  font-size: var(--fs-400);
  cursor: pointer;
}

.homeBannerSliderItemInfo .title {
  margin-top: 22px;
  font-weight: 600;
  font-size: var(--fs-300);
  text-transform: uppercase;
  letter-spacing: 2px;
}

.homeBannerSliderItemInfo .date {
  font-size: var(--fs-200);
  text-transform: uppercase;
  color: gray;
}

@media screen and (max-width: 768px) {
  .homeBannerSlider {
    display: none;
  }
}
