.signMeUp {
    width: 100%;
    text-align: center;
    padding: 32px 0;
}

.signMeUpTitle {
    font-family: Sacramento;
    font-size: var(--fs-900);
    margin: 16px 0;
}
.signMeUpText {
    color: var(--main-clr);
    margin-bottom: 32px;
    font-size: var(--fs-200);
}

.signMeUpInputWrapper {
    width: 100%;
    display: flex;
    margin-bottom: 32px;
}

.signMeUpInputWrapper > input {
    padding: 0px 28px;
    font-family: inherit;
    font-size: var(--fs-200) !important;
    outline: none;
    flex: 1;
    font-size: 16px;
    border: 1px solid var(--light-gray-clr);
    color: var(--light-gray-clr);
}

.signMeUpInputWrapper > input::placeholder {
    color: var(--light-gray-clr);
}

.signMeUpInputWrapper > input:focus {
    border: 1px solid var(--main-clr);
    color: var(--gray-color);
}

.signMeUpInputWrapper > button {
    padding: 20px 48px;
    font-size: var(--fs-200);
    font-family: inherit;
    background-color: var(--black-clr);
    color: var(--white-clr);
    border: 1px solid var(--black-clr);
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
}