.blogsPage {
  display: flex;
  flex-direction: row;
  max-width: 1140px;
  width: 100%;
  margin: 80px auto;
  gap: 40px;
}

/* .blogsContainer {
  padding: 0px 30px;
} */

.blogs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
}

.blogs.column .blogItem {
  display: flex;
  flex-direction: column;
  width: 420px;
  height: 600px;
}

.blogs.column .blogTitle {
  font-size: var(--fs-400);
}

.blogs.column .blogDescription {
  line-height: 32px;
  font-size: var(--fs-200);
}

.blogs.column .blogImage {
  max-width: unset; 
  height: 100%;
}

.blogs.column .blogDetails {
  padding: 16px 0px;
}

.blogs.column .blogDetailsMain {
  margin-bottom: 16px;
}

.blogs.column .blogItem:first-child {
  width: unset;
  height: 780px;
  grid-column: 1 / 3;
  margin-bottom: 32px;
}

.blogs.column .blogItem:first-child .blogImage {
  max-height: unset;
}

.blogs.column .blogItem:first-child .blogTitle {
  font-size: var(--fs-600);
}

.blogs.column .blogItem:first-child .blogDetailsMain {
  order: 1;
}

.blogs.column .blogItem:first-child .blogDetailsExtra {
  order: 3;
}

@media screen and (max-width: 1024px) {
  .blogsPage {
    flex-direction: column;
  }
}
