.blogsPageContainer {
  max-width: 1140px;
  width: 100%;
  margin: 32px auto;
  display: flex;
  gap: 48px;
  padding: 0 16px;
}

.blogsPageBlogs {
  display: grid;
  grid-template-columns: repeat(2, minmax(220px, 420px));
  gap: 32px;
}

.blogsPageBlogs .blogImage {
  height: 280px;
  margin-bottom: 16px;
}

.blogsPageBlogs .blogDetailsExtra {
  justify-content: center;
}

.blogsPageBlogs .blogDetailsExtraRight {
  display: none;
}

@media screen and (max-width: 768px) {
  .blogsPageContainer {
    flex-direction: column;
  }

  .blogsPageBlogs {
    grid-template-columns: repeat(1, 100%);
  }
}