.notifier {
    position: absolute;
    top: 116px;
    right: -300px;
    color: white;
    display: grid;
    place-items: center;
    min-width: 200px;
    height: 50px;
    padding: 8px;
    z-index: 10000;
    transition: right 0.25s ease;
}

.notifierMsg {
    font-size: var(--fs-200);
}

.notifier.active {
    right: 32px;
}

.notifier.hide {
    right: -300px;
}

.notifier.success {
    background-color: green;
}

.notifier.fail {
    background-color: red;
}