header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: white;
  border-bottom: 1px solid lightgray;
}

.headerContainer {
  padding: 16px 32px;
}

.headerLogo {
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerList {
  display: flex;
  gap: 48px;
}

.headerLink {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.headerLink.active {
  color: #d87b4d;
}

.headerIcons {
  display: flex;
  gap: 64px;
}

.headerSocial {
  display: flex;
  gap: 32px;
  position: relative;
}

.headerSocial::after {
  position: absolute;
  right: -32px;
  content: "";
  height: 100%;
  width: 1px;
  background-color: lightgray;
}

.headerSocialItem {
  font-size: 16px;
  cursor: pointer;
}

.headerSocialItem:hover,
.headerSocialItem:focus {
  color: #d87b4d;
}

.headerUser {
  position: relative;
}

.userControls.active {
  display: block;
}

.userControls {
  display: none;
  position: absolute;
  top: 32px;
  right: 0;
  box-shadow: 0px 0px 8px var(--light-gray-clr);
  border-radius: 4px;
  padding: 8px;
  background-color: var(--white-clr);
}

.userControlsOptions {
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: max-content;
  margin: 0 auto;
}

.userControlsBtn {
  font-size: 16px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 100%;
}

.userControlsBtn:hover, .userControlsBtn:focus {
  color: var(--main-clr);
}