header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: white;
  border-bottom: 1px solid lightgray;
}

.headerContainer {
  padding: 16px 32px;
}

.headerLogo {
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  font-size: var(--fs-500);
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerList {
  display: flex;
  gap: 48px;
}

.headerLink {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: var(--fs-200);
  background-color: var(--white-clr);
  border: none;
}

.headerLink.active {
  color: #d87b4d;
}

.headerIcons {
  display: flex;
  gap: 64px;
}

.headerSocial {
  display: flex;
  gap: 32px;
  position: relative;
}

.headerSocial::after {
  position: absolute;
  right: -32px;
  content: "";
  height: 100%;
  width: 1px;
  background-color: lightgray;
}

.headerSocialItem {
  font-size: var(--fs-200);
  cursor: pointer;
}

.headerSocialItem:hover,
.headerSocialItem:focus {
  color: #d87b4d;
}

.headerUser {
  position: relative;
}

.userControls.active {
  display: block;
}

.userControls {
  display: none;
  position: absolute;
  top: 32px;
  right: 0;
  box-shadow: 0px 0px 8px var(--light-gray-clr);
  border-radius: 4px;
  padding: 8px;
  background-color: var(--white-clr);
}

.userControlsOptions {
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: max-content;
  margin: 0 auto;
}

.userControlsBtn {
  font-size: var(--fs-200);
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: max-content;
}

.userControlsBtn:hover,
.userControlsBtn:focus {
  color: var(--main-clr);
}

.toggleMenu {
  display: none;
  z-index: 100;
  cursor: pointer;
  position: sticky;
}

.toggleMenu.active {
  color: var(--main-clr);
}

.mobileHeader {
  opacity: 0;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 100vh;
  translate: 200px;
  background-color: var(--white-clr);
  transition: all 1s ease;
}

.mobileHeader.active {
  translate: 0;
}

.mobileHeaderList {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
  gap: 32px;
}

.mobileHeaderIcons {
  position: absolute;
  bottom: 16px;
}
.headerSocial::after {
  display: none;
}

@media screen and (max-width: 768px) {
  .headerList,
  .headerIcons {
    display: none;
  }

  .mobileHeader {
    opacity: 1;
  }

  .toggleMenu {
    display: block;
  }
}
